*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

h1{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #1e8cf3;
}

h2{
    color: crimson;
    margin-bottom: 10px;
}

.ancho{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal h2{
    text-align: center;
}

.modal-content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.modal-content img {
    margin: 10px;
    max-width: 25%;
    height: auto;
    object-fit: contain;
}

.cerrar {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

  

